@import 'color-palette';
@import 'font';

.page-header-container {
  padding: 24px 24px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.breadcrumb-container {
  align-items: center;

  .breadcrumb-separator {
    padding: 0 20px;
  }

  .title {
    @include font-subtitle-medium($gray-7);
    display: flex;
    align-items: center;

    .icon {
      padding-right: 12px;
    }
  }
}
